name: CI-CD
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  build:
    name: Build and Push
    runs-on: ubuntu-latest
    outputs:
      docker_tag: ${{steps.generate_tag.outputs.sha}}

    steps:
      - name: Checkout source code
        uses: actions/checkout@v4
        
      - name: Setup Java
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Cache Maven packages
        uses: actions/cache@v3
        with:
          path: ~/.m2
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-
      
      - name: Build with Maven
        run: mvn clean package -DskipTests

      - name: Run Tests
        run: mvn -Dtest=UserControllerTest test

      - name: Generate Tag
        id: generate_tag
        run: |
            SHA=$(echo $GITHUB_SHA | head -c7)
            echo "sha=$SHA" >> $GITHUB_OUTPUT
      
      - name: Login in DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{secrets.DOCKERHUB_USERNAME}}
          password: ${{secrets.DOCKERHUB_TOKEN}}

      - name: Build Docker Image
        run: docker build -t ${{secrets.DOCKERHUB_USERNAME}}/devops-docker:${{steps.generate_tag.outputs.sha}} .

      - name: Push to Docker Hub
        run: docker push ${{secrets.DOCKERHUB_USERNAME}}/devops-docker:${{steps.generate_tag.outputs.sha}}

  deploy:
    name: "Deploy on Digital Ocean"
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Checkout the source code
        uses: actions/checkout@v4
        
      - name: Copy files to Digital Ocean
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{secrets.HOST}}
          username: ${{secrets.USER}}
          password: ${{secrets.PASSWORD}}
          source: "./docker-compose.yml"
          target: "~/"
      - name: Deploy on Digital Ocean
        uses: appleboy/ssh-action@v0.1.3
        with:
          host: ${{secrets.HOST}}
          username: ${{secrets.USER}}
          password: ${{secrets.PASSWORD}}
          script: |
            TAG=${{needs.build.outputs.docker_tag}}
            [-e .env] && rm .env
            touch .env
            echo "DOCKER_IMAGE_TAG=$TAG" >> .env
            echo "DB_USER=${{secrets.DB_USER}}" >> .env
            echo "DB_PASSWORD=${{secrets.DB_PASS}}" >> .env
            echo "DB_NAME=${{secrets.DB_NAME}}" >> .env
            docker login -u ${{secrets.DOCKERHUB_USERNAME}} -p ${{secrets.DOCKERHUB_TOKEN}}
            docker compose up -d --build
            docker container prune -f
            docker image prune -f -a 
